<div class="container">
  <h1>Hello Angular World!!!</h1>

  <p appStyle="red" fontWeight="bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, fuga!</p>

  <p appStyle="blue" fontWeight="bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, fuga!</p>

  <button class="btn" (click)="isVisible = !isVisible">Toggle</button>

  <div class="wrap" *appIfnot="!isVisible">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, enim ex facilis labore laudantium neque pariatur ratione tempore totam ullam?</p>
  </div>


  <!--  <div *ngIf="isVisible" class="wrap">-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, enim ex facilis labore laudantium neque pariatur ratione tempore totam ullam?</p>-->
<!--  </div>-->
</div>


